.account-content-main {
  .order-picking {

  }

  .shipping-details, .order-picking-lists, .order-picking-list-products {
    max-height: 800px;
  }

  .shipping-details {
    form {
      height: 100%;
    }
  }

  .shipping-details-inner, .order-picking-lists-inner, .order-picking-list-products-inner {
    border-color: var(--bs-table-color);
    border: 1px solid;
    max-height: 100%;
    overflow-y: auto;
  }

  .shipping-details {
    .hidden {
      display: none;
    }
  }

  .order-picking-list-products {
    .product-row {
      &.visible {

      }

      &.hidden {
        display: none;
      }

      .is-cover {
        img {
          width: 75px;
        }
      }
    }
  }

  .order-picking-list-products {
    .product-price {
      padding: 0.5625rem;
    }
  }

  .order-picking-lists-inner {
    button {
      width: 80%;
      text-align: left;
      position: relative;

      .icon {
        display: none;
        right: 8px;
        position: absolute;;
      }

      &.active {
        .icon {
          display: inline-flex;
        }
      }
    }
  }
}

.line-item-picking-list-number {
  margin-bottom: $spacer-sm;
  font-size: $font-size-sm;
}