<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/trunk/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>API configuration</title>
        <input-field type="text">
            <name>apiToken</name>
            <label>API token</label>
        </input-field>
        <input-field type="text">
            <name>apiBaseUri</name>
            <label>API base uri</label>
        </input-field>
        <input-field type="text">
            <name>apiEndpointPickingLists</name>
            <label>Picking lists endpoint</label>
        </input-field>
        <input-field type="text">
            <name>apiEndpointOrderExport</name>
            <label>Picking order export endpoint</label>
        </input-field>
        <component name="sw-entity-multi-id-select">
            <name>customerGroups</name>
            <entity>customer_group</entity>
            <label>Customer groups allowed to use order picking lists</label>
        </component>
    </card>
</config>