{% sw_extends '@Storefront/storefront/page/account/sidebar.html.twig' %}

{% block page_account_sidebar_menu_inner %}
    {{ parent() }}

    {% block page_account_sidebar_order_picking %}
        <a href="{{ path('frontend.account.order-picking') }}"
           title="{{ "account.orderPickingLink"|trans|striptags }}"
           class="list-group-item list-group-item-action account-aside-item{% if activeRoute is same as('frontend.account.order.page') %} is-active{% endif %}">
            {{ "account.pickingList.link"|trans|sw_sanitize }}
        </a>
    {% endblock %}
{% endblock %}

